.footer {
    background: #f8f9f8;
    font-family: 'Poppins', Arial, sans-serif;
  }
  
  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 2000px;
    margin: 0 auto;
    padding: 28px 0px 0 40px;
    gap: 56px;
  }
  
  .footer-col {
    flex: 1;
    min-width: 180px;
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .footer-col.left {
    flex: 2.2;
    min-width: 350px;
  }
  
  .footer-logo-row {
    display: flex;
    align-items: center;
  }
    
  .footer-logo-text {
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1px;
  }
  
  .footer-subscribe-title {
    font-weight: 600;
    font-size: 1.17rem;
    margin: 29px 0 2px 0;
    color: #232323;
  }
  
  .footer-subscribe-desc {
    color: #656565;
    font-size: 1.08rem;
    margin-bottom: 16px;
    max-width: 500px;
  }
  
  .footer-subscribe-form {
    display: flex;
    margin-bottom: 18px;
    max-width: 488px;
  }
  
  .footer-subscribe-form input {
    flex: 1;
    padding: 18px 24px;
    border-radius: 14px 0 0 14px;
    border: none;
    background: #fff;
    font-size: 1.16rem;
    font-family: inherit;
    color: #1b1b1b;
  }
  
  .footer-subscribe-form button {
    background: #C2F578;
    border: none;
    border-radius: 0 14px 14px 0;
    color: #1b1b1b;
    font-weight: bold;
    font-size: 1.14rem;
    padding: 19px 34px;
    cursor: pointer;
    transition: background 0.2s;
  }
  .footer-subscribe-form button:hover {
    background: #b9f844;
    color: #000;
  }
  
  .footer-col-title {
    font-weight: 700;
    font-size: 1.13rem;
    margin-bottom: 16px;
  }
  
  .footer-col a {
    text-decoration: none;
    color: #232323;
    font-size: 1.05rem;
    transition: color 0.2s;
    margin-bottom: 2px;
  }
  .footer-col a:hover {
    color: #99cf23;
  }
  
  .footer-bottom {
    margin-top: 22px;
    border-top: 2px solid #f2f2f2;
    padding: 18px 44px 12px 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer-socials {
    display: flex;
    gap: 18px;
  }
  
  .footer-social-btn {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
  }
  
  .footer-social-bg {
    display: inline-flex;
    background: #d3fc85;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    transition: box-shadow 0.18s;
  }
  
  .footer-social-btn:hover .footer-social-bg {
    box-shadow: 0 2px 14px rgba(85,190,47,0.18);
  }


  @media (max-width: 768px) {

    .footer-top {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 10px;
      gap: 0;
    }

    .footer-col {
      flex: 1;
      min-width: 180px;
      margin-top: 44px;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .footer-col.left {
      flex: 2.2;
      min-width: 350px;
    }

    .footer-subscribe-desc {
      color: #656565;
      font-size: 0.8rem;
      margin-bottom: 16px;
      max-width: 350px;
      justify-content: center;
    }

    .footer-subscribe-form {
      display: flex;
      margin-bottom: 18px;
      width: 100%;
      justify-content: center;
    }
    
    .footer-subscribe-form input {
      flex: 1;
      padding: 10px;
      border-radius: 14px 0 0 14px;
      border: none;
      background: #fff;
      font-size: 0.8rem;
      font-family: inherit;
      color: #1b1b1b;
    }
    
    .footer-subscribe-form button {
      background: #C2F578;
      border: none;
      border-radius: 0 14px 14px 0;
      color: #1b1b1b;
      font-weight: bold;
      font-size: 0.8rem;
      padding: 10px;
      cursor: pointer;
      transition: background 0.2s;
    }

    .footer-col a {
      text-decoration: none;
      color: #232323;
      font-size: 0.8rem;
      transition: color 0.2s;
    }

    .footer-bottom-text{
      font-size: 0.8rem;
      color: #232323;
    }
    
    .footer-bottom{
      display: flex;
      flex-direction: column;
    }
    .footer-logo-row {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .footer {
      background: #f8f9f8;
      font-family: 'Poppins', Arial, sans-serif;
      width: 80%;
    }
  }
  