.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 48px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,0.04);
    height: 76px;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
    gap: 13px;
    cursor: pointer;
  }
  
  .logo-icon {
    width: 49px;
    height: 49px;
  }
  
  .logo-text {
    font-weight: 700;
    font-size: 28px;
    margin-right: 24px;
    color: #000;
    margin-right: 68px;
  }
  
  .nav-courses {
    color: #666;
    font-size: 1rem;
  }
  
  .nav-btn {
    background: #000;
    color: #fff;
    border: none;
    font-weight: 600;
    padding: 11px 26px;
    margin-left: 12px;
    border-radius: 8px;
    cursor: pointer;
    height: 44px;
    width: 101px;
  }

  .nav-btns {
    display: flex;
    gap: 37px;
  }
  
  .nav-btn:hover {
    background: #333;
  }
  